
.recent-projects{
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
   overflow: hidden;
}
.recent-projects span:nth-of-type(1){
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}
.recent-projects span:nth-of-type(2){
    color: var(--orange);
    font-size: 2rem;
    font-weight: bolder;
}


.recent-projects .swiper{
    overflow: visible!important;

}
.recent-projects .recent-pro{
    margin: 2rem;
    width: 100%;
}

.recent-projects .swiper-slide img{
    width: 400px;
    height: 230px;
    border-radius: 20px;
    
    /* box-shadow: 7px 7px 10px black; */
    filter: drop-shadow(-12px 8px 13px black );
}



.recent-projects .swiper-slide img:hover{
    scale: 1.1;
    transition: all .5s;
}
