.all-projects{
   width: 100%;
   /* padding: 0 100px; */
}

.all-projects h1{
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;

}
.pro-card-cont{
    display: flex;
    gap: 30px;
    padding: 0 100px;
}
.pro-card{
   width: 340px;
    height: 230px;
    border-radius: 20px;
    filter: drop-shadow(-12px 8px 13px black );
    border: 1px solid black;

}

.naam{
    color: var(--orange);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 30px;
}