.work{
    padding: 100px 50px;
    display: flex;
    position: relative;
    
}
.services-text{
    width: 50%;
}

.brands{
    width: 50%;
}

.brands-main-sec{
    
    transform: translateX(200px);
    width: 300px;
    height: 300px;
}

.main-circle{
    width: 300px;
    height: 300px;
background: white;
    border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   box-shadow: 5px 5px 10px grey;
   animation: spin 20s  linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.b-b-circle{
    width: 80px;
    height:80px ;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px grey;
}

.b-img{
 
    width: 50px;
    height: 50px;
 
    /* border-radius: 50%; */
}
.main-circle .b-b-circle:nth-child(1){
    /* margin: 2px; */
    top: 36%;
    left: 36%;
    position: absolute;
} 
.main-circle .b-b-circle:nth-child(2){
    /* margin: 2px; */
    top: -40px;
    left: 35%;
    position: absolute;
} 
.main-circle .b-b-circle:nth-child(3){
    /* margin: 2px; */
    bottom: -40px;
    left: 35%;
    position: absolute;
    
} 
.main-circle .b-b-circle:nth-child(4){
    /* margin: 2px; */
    left: -40px;
    top: 36%;
    position: absolute;
} 
.main-circle .b-b-circle:nth-child(5){
    /* margin: 2px; */
    top: 36%;
    right: -40px;
    position: absolute;
} 



.blue{
    width: 300px;
    height: 200px;
    background: blue;
    position: absolute;
    border-radius: 50%;
    right: -90px;
    top: -35px;
    z-index: -9988;
}
.yellow{
    width: 300px;
    height: 200px;
    background: rgb(255, 230, 6);
    position: absolute;
    border-radius: 50%;
    right: -90px;
    bottom: -25px;
    z-index: -9988;
}


.blueeee{
    background: rgb(0, 128, 255);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    filter: blur(109px);
    z-index: -999;
    left: 300px;
    top: -60px;
}
.greeeen{
    background: purple;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    filter: blur(109px);
    z-index: -999;
    left: 600px;
    top: 260px;
}


@media screen and (max-width:480px) {
    .work{
    padding: 50px 30px;
    display: block;
    flex-direction: column;
    
}
.services-text{
    width: 100%;
}
.brands{
    width: 100%;
}
.brands-main-sec{
    transform: translateX(50px);
    width: 250px;
    height: 250px;
}
.main-circle{
    margin-top: 120px;
    width: 250px;
    height: 250px;
}
.b-img{
 
    width: 40px;
    height: 40px;
}

.blue{
    width: 220px;
    height: 150px;
}
.yellow{
    width: 220px;
    height: 150px;
}
.greeeen{
   left: 200px;
}

}